# Environment Variables
# Copy this file to .env and fill in your values

PORT=3001

# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/

# JWT
JWT_SECRET=your_super_secret_jwt_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
